USE [master]
GO
/****** Object:  Database [QLGBDVDQG]    Script Date: 7/23/2020 9:58:11 PM ******/
CREATE DATABASE [QLGBDVDQG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLGBDVDQG', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QLGBDVDQG.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLGBDVDQG_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QLGBDVDQG_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLGBDVDQG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLGBDVDQG]
GO
/****** Object:  Table [dbo].[BANTHANG]    Script Date: 7/23/2020 9:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANTHANG](
	[MaBanThang] [varchar](45) NOT NULL,
	[MaCauThu] [varchar](45) NULL,
	[LoaiBanThang] [varchar](45) NULL,
	[ThoiDiem] [varchar](45) NULL,
	[MaTranDau] [varchar](45) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBanThang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CAUTHU]    Script Date: 7/23/2020 9:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAUTHU](
	[MaCauThu] [varchar](45) NOT NULL,
	[TenCauThu] [varchar](45) NULL,
	[NgaySinh] [datetime] NULL,
	[LoaiCauThu] [varchar](45) NULL,
	[ThoiGianThiDau] [varchar](45) NULL,
	[TinhTrang] [varchar](45) NULL,
	[MaDoi] [char](4) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCauThu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANGNHAP]    Script Date: 7/23/2020 9:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANGNHAP](
	[TaiKhoan] [varchar](45) NULL,
	[MatKhau] [varchar](45) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOIBONG]    Script Date: 7/23/2020 9:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOIBONG](
	[MaDoi] [char](4) NOT NULL,
	[TenDoi] [varchar](45) NULL,
	[SanNha] [varchar](45) NULL,
	[SoCauThu] [int] NULL,
	[DiemSo] [int] NULL,
	[BanThang] [int] NULL,
	[BanThua] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIBANTHANG]    Script Date: 7/23/2020 9:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIBANTHANG](
	[LOAIBANTHANG] [varchar](45) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANDAU]    Script Date: 7/23/2020 9:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANDAU](
	[MaTranDau] [varchar](45) NOT NULL,
	[DoiChuNha] [char](4) NULL,
	[DoiKhach] [char](4) NULL,
	[NgayThiDau] [datetime] NULL,
	[GioThiDau] [time](7) NULL,
	[SanThiDau] [varchar](45) NULL,
	[TySo] [varchar](10) NULL,
	[MaVongDau] [varchar](45) NULL,
	[BANTHANGDN] [int] NULL,
	[BANTHANGKH] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTranDau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VONGDAU]    Script Date: 7/23/2020 9:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VONGDAU](
	[MaVongDau] [varchar](45) NOT NULL,
	[TenVongDau] [varchar](45) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaVongDau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BANTHANG] ([MaBanThang], [MaCauThu], [LoaiBanThang], [ThoiDiem], [MaTranDau]) VALUES (N'0001', N'HA05', N'TrucTiep', N'23', N'VB001')
INSERT [dbo].[BANTHANG] ([MaBanThang], [MaCauThu], [LoaiBanThang], [ThoiDiem], [MaTranDau]) VALUES (N'0002', N'HA05', N'Penalty', N'48', N'VB001')
INSERT [dbo].[BANTHANG] ([MaBanThang], [MaCauThu], [LoaiBanThang], [ThoiDiem], [MaTranDau]) VALUES (N'0003', N'HA05', N'TrucTiep', N'65', N'VB001')
INSERT [dbo].[CAUTHU] ([MaCauThu], [TenCauThu], [NgaySinh], [LoaiCauThu], [ThoiGianThiDau], [TinhTrang], [MaDoi]) VALUES (N'AG01', N'Nguyen Manh Cuong', CAST(N'1997-09-03T00:00:00.000' AS DateTime), N'Trong Nuoc', N'Thi Dau 3 nam', N'Khoe manh', N'AGFC')
INSERT [dbo].[CAUTHU] ([MaCauThu], [TenCauThu], [NgaySinh], [LoaiCauThu], [ThoiGianThiDau], [TinhTrang], [MaDoi]) VALUES (N'AG02', N'Tran Gia Nam', CAST(N'1996-08-18T00:00:00.000' AS DateTime), N'Trong Nuoc', N'Thi Dau 2 nam', N'Khoe manh', N'AGFC')
INSERT [dbo].[CAUTHU] ([MaCauThu], [TenCauThu], [NgaySinh], [LoaiCauThu], [ThoiGianThiDau], [TinhTrang], [MaDoi]) VALUES (N'AG03', N'Nguyen Thanh Cong', CAST(N'2001-02-09T00:00:00.000' AS DateTime), N'Trong Nuoc', N'Thi Dau 1 nam', N'Khoe manh', N'AGFC')
INSERT [dbo].[DANGNHAP] ([TaiKhoan], [MatKhau]) VALUES (N'ADMIN', N'ADMIN')
INSERT [dbo].[DOIBONG] ([MaDoi], [TenDoi], [SanNha], [SoCauThu], [DiemSo], [BanThang], [BanThua]) VALUES (N'AGFC', N'An Giang', N'SVD An Giang', 20, 11, 7, 3)
INSERT [dbo].[DOIBONG] ([MaDoi], [TenDoi], [SanNha], [SoCauThu], [DiemSo], [BanThang], [BanThua]) VALUES (N'BDFC', N'Binh Dinh', N'SVD Quy Nhon', 20, 13, 8, 3)
INSERT [dbo].[DOIBONG] ([MaDoi], [TenDoi], [SanNha], [SoCauThu], [DiemSo], [BanThang], [BanThua]) VALUES (N'DTFC', N'Dong Thap', N'SVD Dong Thap', 20, 2, 0, 8)
INSERT [dbo].[LOAIBANTHANG] ([LOAIBANTHANG]) VALUES (N'TrucTiep')
INSERT [dbo].[LOAIBANTHANG] ([LOAIBANTHANG]) VALUES (N'Penalty')
INSERT [dbo].[LOAIBANTHANG] ([LOAIBANTHANG]) VALUES (N'DaPhat')
INSERT [dbo].[TRANDAU] ([MaTranDau], [DoiChuNha], [DoiKhach], [NgayThiDau], [GioThiDau], [SanThiDau], [TySo], [MaVongDau], [BANTHANGDN], [BANTHANGKH]) VALUES (N'VB001', N'HAGL', N'HCMC', CAST(N'2020-01-03T00:00:00.000' AS DateTime), CAST(N'05:00:00' AS Time), N'Gia Lai', N'30', N'VB', 3, 0)
INSERT [dbo].[TRANDAU] ([MaTranDau], [DoiChuNha], [DoiKhach], [NgayThiDau], [GioThiDau], [SanThiDau], [TySo], [MaVongDau], [BANTHANGDN], [BANTHANGKH]) VALUES (N'VB002', N'HNFC', N'HCMC', CAST(N'2020-01-03T00:00:00.000' AS DateTime), CAST(N'05:00:00' AS Time), N'SVD Thong Nhat', N'03', N'VB', 0, 3)
INSERT [dbo].[TRANDAU] ([MaTranDau], [DoiChuNha], [DoiKhach], [NgayThiDau], [GioThiDau], [SanThiDau], [TySo], [MaVongDau], [BANTHANGDN], [BANTHANGKH]) VALUES (N'VB003', N'HAGL', N'HCMC', CAST(N'2020-01-03T00:00:00.000' AS DateTime), CAST(N'07:00:00' AS Time), N'Gia Lai', N'11', N'VB', 1, 1)
INSERT [dbo].[VONGDAU] ([MaVongDau], [TenVongDau]) VALUES (N'BK', N'BanKet')
INSERT [dbo].[VONGDAU] ([MaVongDau], [TenVongDau]) VALUES (N'CK', N'ChungKet')
INSERT [dbo].[VONGDAU] ([MaVongDau], [TenVongDau]) VALUES (N'TK', N'TuKet')
USE [master]
GO
